<footer>
    <hr>
    CST336 Internet Programming. 2019&copy; Haidar <br />
    <strong>Source:</strong><a href="https://www.oreilly.com/library/view/hands-on-machine-learning/9781491962282/ch01.html">Hands-On Machine Learning with Scikit-learn, Keras, and TensorFlow, 2nd Edition.</a>
    <br />
    by Aurelien Geron
    <p></p>
    <img style= "border-radius:20px; border-color:white" src="/img/csumbLogo.png" alt= "image of CSUMB logo" width= 200 />
</footer>

</body>

</html>