<!DOCTYPE html> <!--directive html5 version-->

<html lang="en">

<head>

    <meta charset="utf-8" > <!-- most comprehensive -->
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <title>Machine Learning</title>
    <!--<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300&display=swap" rel="stylesheet">-->
</head>



<header> <!--semantic tags -->

    <h1> Machine Learning </h1>

</header>
<body>

<nav>
    <a href="/index">Home</a>
    <a href="/supervised">Supervised Learning</a>
    <a href="/unsupervised">Unsupervised Learning</a>
    <a href="/online">Online Learning</a>
    <a href="/batch">Batch Learning</a>
</nav>