<% include partials/header.ejs %>




        <div id="content">
            
             <br /><br />
        <a><p>When incremental learning is not possible, batch learning is used. In the case the system will use all available data during training.</p></a>
        <a><p>Batch Learning requires a large amount of computing resources, therefore the training takes place offline. This means that before starting production, the system is trained. Once in production the system no longer learns and only uses the data given.</p></a>
           
           <br /><br />
            
        </div>
        
          </div>
          <div id= "batchImg">
                
                <img style= "border-radius:20px; border-color:white" src="/img/batch.jpg" alt= "image of batch learning" width= 700 /> <!--use width= "*number*" to change display size -->
                
            </div>

<% include partials/footer.ejs %>
