<% include partials/header.ejs %>

        
        <br /><br />
        
        <main>
        
            
            <figure>
                
                <img style= "border-radius:20px; border-color:white" src="/img/machineLearn.jpg" alt= "image of machine learning" width= 700 /> <!--use width= "*number*" to change display size -->
                
            </figure>
            
            <div id= "welcomeText">
                
                <a>What is Machine Learning <br /></a>
                <br />
                <a><p>"Machine Learning is the field of study that gives computers the ability to learn without being explicitly programmed."</p></a>
                <p>- <cite>Arthur Samuel, 1959</cite></p>
                
                <a><p>We will be explaining a few core concepts; supervised and unsupervised learning, as well as online and batch learning. These concepts are used to "train" your machine or system.</p></a>
                <a><p>The system is typically given preliminary data to create an algorithm, this data is usually refered to as a "training set". </p></a>
                
                <a><p>Lets begin...</p></a>
                
                <br /><br />

                
            </div>
            
        </main>

<% include partials/footer.ejs %>
