<% include partials/header.ejs %>



        <div id="content">
            
             <br /><br />
        <a><p>A cheaper, faster way of training your system is online learning.  The system  is trained incrementally with smaller, sequential, data instances.</p></a>
        <a><p>This can be done either in mini-batches, which are just small groups of data, or individually. Each instance of learning is light weight, allowing the system to learn quickly by arrival.</p></a>
            
            
        </div>
          <div id= "onlineImg">
                
                <img style= "border-radius:20px; border-color:white" src="/img/online.png" alt= "image of online learning" width= 700 /> <!--use width= "*number*" to change display size -->
                
            </div>

<% include partials/footer.ejs %>
