<% include partials/header.ejs %>


        <div id="content">
            
             <br /><br />
        
             <a><p>In supervised learning, the training set you feed to the algorithm includes the desired solutions, called labels</p></a>   
             <a><p>A typical supervised learning task is classification.</p></a> 
             <a><p> The spam filter is a good example of this: it is trained with many example emails along with their class (spam or ham), and it must learn how to classify new emails</p></a>  
           
                <br /><br />
           </div>
           
           <div id= "supervisedImg">
                
                <img style= "border-radius:20px; border-color:white" src="/img/knn.jpg" alt= "image of k-nearest neighbor" width= 500 /> <!--use width= "*number*" to change display size -->
                
            </div>
            
            <table id= "tabelsuper">
                
                 <caption id="supCap">
                    <strong> Supervised Algorithms </strong>
                </caption>
                
                <tr class="table-row">
                    <td>k-Nearest Neighbors</td>
                    <!--<td>.5</td>-->
                </tr>
                
                <tr class="table-row">
                    <td>Linear Regression</td>
                    <!--<td>1.5</td>-->
                </tr>
                
                <tr class="table-row">
                    <td>Logistic Regression</td>
                    <!--<td>.5</td>-->
                </tr>
                
                <tr class="table-row">
                    <td>Support Vector Machines</td>
                    <!--<td>.5</td>-->
                </tr>
                
                <tr class="table-row">
                    <td>Decision Trees</td>
                    <!--<td>.5</td>-->
                </tr>
                
                <tr class="table-row">
                    <td>Neural Networks</td>
                    <!--<td>.5</td>-->
                </tr>
                
            </table>

<% include partials/footer.ejs %>
