<% include partials/header.ejs %>



        <div id="content">
            
             <a><p>Slightly more complex, unsupervised learning has the system learn by itself. Meaning, the training data used will contain no labels.</p></a>
             <a><p>A good example of this would be a Visualization algorithm. The system is given an unlabled, complex training set and creates a multi-dimentional representation to be plotted</p></a>
             
             <br /><br />
        </div>
        
         <div id= "unsupervisedImg">
                
                <img style= "border-radius:20px; border-color:white" src="/img/unsup.jpeg" alt= "image of unsupervised learning" width= 500 /> <!--use width= "*number*" to change display size -->
                
            </div>
            <div id= "unsupTable">
            <table>
                <caption id="unsupCap">
                    <strong> Unsupervised Algorithms </strong>
                </caption>

                
                <tr class="table-row">
                    <td>Clustering</td>
                    <!--<td>.5</td>-->
                </tr>
                
                <tr class="table-row">
                    <td>Anomal and Novely Detection</td>
                    <!--<td>1.5</td>-->
                </tr>
                
                <tr class="table-row">
                    <td>Visualization and dDimensionality Reduction</td>
                    <!--<td>.5</td>-->
                </tr>
                
                <tr class="table-row">
                    <td>Association Rule Learning</td>
                    <!--<td>.5</td>-->
                </tr>
                
            </table>
            </div>

<% include partials/footer.ejs %>
